body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #a1b1a1;
  font-family: sans-serif;
}

/*menu----------------*/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #85af9a;
}

.logo i {
  color: white;
  font-size: 2.3rem;
}

.menu ul li {
  list-style: none;
  display: inline-block;
  padding-left: 1rem;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px 1px #245736;
}

.menu ul li a {
  color: #fff;
  text-decoration: none;
}

input[type=text] {
  padding: 2px;
  margin-top: 8px;
  font-size: 15px;
  border: none;
}

.search button {
  float: right;
  padding: 1px 5px;
  margin-top: 8px;
  margin-right: 16px;
  background: #85af9a;
  color: #fff;
  font-size: 11px;
  border: none;
  cursor: pointer;
}

/*main----------------*/
.main-content {
  margin: 0px 2% 5rem 2%;
  -webkit-box-shadow: 1px 2px 1px #4f9982;
          box-shadow: 1px 2px 1px #4f9982;
  text-align: center;
}

.main-content img {
  height: 25rem;
  width: 28rem;
}

.main-content .image2 {
  display: none;
}

.container1, .container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container1 h3, .container1 h6, .container1 p {
  color: white;
}

.container1 h3 {
  font-size: 2rem;
  text-shadow: 1px 2px 1px #669999;
}

.container2 {
  background: #ece9e9;
}

.container2 h3 {
  font-size: 2rem;
  text-shadow: 1px 2px 1px #669999;
}

.container2 h3, .container2 p {
  color: #7e857e;
}

.img2 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.text-area {
  margin: 0 auto;
  width: 40%;
}

@media screen and (max-width: 414px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    padding: 1px 1px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu {
    float: right;
  }
  .menu ul li {
    display: block;
  }
  .logo {
    float: left;
  }
  .search {
    display: none;
  }
}

@media screen and (max-width: 666px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    padding: 1px 1px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu {
    float: right;
  }
  .menu ul li {
    display: block;
  }
  .logo {
    float: left;
  }
  .search {
    margin-left: 20%;
  }
}

@media screen and (max-width: 414px) {
  .container1 h3,
  .container2 h3 {
    font-size: .6rem;
    text-align: center;
  }
  .main-content img {
    height: 90% !important;
    width: 100% !important;
  }
  .text-area {
    margin: 0 2%;
    width: 30%;
  }
}

@media screen and (max-width: 563px) {
  .container1,
  .container2 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 2rem;
  }
  .container1 h3,
  .container2 h3 {
    font-size: 1.3rem;
  }
  .text-area {
    margin: 0 2%;
    width: 90%;
    text-align: center;
  }
  img {
    height: 90% !important;
    width: 90% !important;
  }
  .image1 {
    display: none;
  }
  .image2 {
    display: inline-block !important;
  }
  .img1 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  h6 {
    display: none;
  }
}

@media screen and (max-width: 638px) {
  .container1 p,
  .container2 p {
    margin-bottom: 3rem;
    margin-left: 1%;
  }
}

@media screen and (max-width: 768px) {
  .main-content img {
    height: 19rem;
    width: 20rem;
  }
  .container1 p,
  .container2 p {
    margin-bottom: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */